{% extends "templates/navbar.html" %}

    {% block content %}

        <div style="margin:0px auto; margin-top: 100px; width:90%; max-width: 1000px; ">
        <h4>과제제출</h4>
        <h3>- {{ lecture.name }}</h3>

    </div>
    <div class="container" style="background-color:rgba(255,255,255,0.6); margin:0 auto; padding:5%; width: 90%; max-width: 1000px; border-radius:10px;">

        <div style="width:80%; margin:0 auto;">
          <table class="table" >
                    <!--과제목록~-->
                    <thead>
                        <tr>
                            <th>과제</th>
                            <th>제출인원</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for notice in notices %}
                        <tr>
                            <td>
                                <a href="{% url 'assignmentCheck' notice_id=notice.id %}">{{ notice.title }}</a>
                            </td>
                            <td> 카운트 </td>
                        </tr>
                    {% endfor %}
                    </tbody>
          </table>
        </div>

    </div>
{% endblock %}