{% extends "templates/navbar.html" %}

    {% block content %}

<form method="post">
        {% csrf_token %}
    <div style="margin:0px auto; margin-top: 100px; width:90%; max-width: 800px; ">
        <h4>강의추가</h4>

    </div>
    <div class="container" style="background-color: rgba(255,255,255,0.6); margin: 0px auto; width:90%; max-width: 800px; padding:5%; border-radius:10px;">
        <label>교수명</label>
        <input class="form-control" placeholder="{{ request.user.get_full_name }}" disabled/><br/>
        <label>강의 이름</label>
            <input id="lecture_name" name ="lecture_name" class="form-control"/></br>

        </br>
        <button class="btn btn-primary pull-right" type="submit" formaction="/lecture/">추가</button>
        <button class="btn btn-default pull-right" style="margin-right:5px" formaction="/lecture/my_lecture_list" formmethod="get">취소</button>
        <br />
    </div>
</div>
</form>

{% endblock %}

