{% extends "templates/navbar.html" %}

    {% block content %}
    <div style="margin:0px auto; margin-top: 100px; width:90%; max-width: 1000px; ">
        <h4>내 강의실</h4>

    </div>
    <div class="container" style="background-color: rgba(255,255,255,0.6); margin: 0px auto; width:90%; max-width: 1000px; padding:5%; border-radius:10px;">


            <!--<a href="lectureApply.html" class="pull-right" style="margin-left:10px">강의신청</a>-->
            <a href="{% url 'lecture_list' %}" class="pull-right" style="margin-left:10px">강의신청</a>
            <a href="{% url 'main' %}" class="pull-right" >강의추가</a>

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>교수명</th>
                        <th>강의명</th>
                    </tr>
                </thead>

                <tbody>
                    {% for lecture in lectures %}
                    <tr>
                        <td>{{ lecture.professor.base_user.get_full_name }}</td>
                        <td>
                            <a href="{% url 'lecture_detail' %}">{{ lecture.name}}</a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            </div>

    {% endblock %}



