{% extends "templates/navbar.html" %}


    {% block content %}

    <div style="margin:0px auto; margin-top: 100px; width:90%; max-width: 1000px; ">
        <h4>{{ lecture.name }}</h4>

    </div>
        <div class="container" style="background-color: rgba(255,255,255,0.6); margin: 0px auto; width:90%; max-width: 1000px; padding:5%; border-radius:10px;">

            <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
            </nav>
            <ul class="nav nav-tabs" id="lecture_tab_li">
                <li class="active"><a href="#first" >강의자료</a></li>
                <li id="2"><a href="#second">QnA</a></li>
                <li><a href="#third" >조편성</a></li>

            </ul>

            <div class="tab-content" id="lecture_tab">
                <!-- 첫번째 탭 -->
                <div class="tab-pane fade active in" id="first">
                </br>
                <table class="table" >
                    <!--강의자료들~-->
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th></th>
                            <th>제목</th>
                            <th>제출</th>
                            <th>제출여부</th>
                            <th>성적</th>
                            <th>코멘트</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for notice in notice_list.all %}
                        <tr>
                                <td>{{ forloop.revcounter }} </td>
                                <td> {% if notice.is_notice == 1 %}<span class="glyphicon glyphicon-bell"></span>{% endif%}</td>
                                <td><a href="{% url 'noticeView' notice_id=notice.id %}">{{  notice.title }}</a></td>
                                <td> {% if notice.is_assignment == 1 %} <a href="{% url 'assignmentSubmit' notice_id=notice.id %}">
                                    <span class="glyphicon glyphicon-floppy-disk"></span></a>{% endif%}</td>
                                <td>
                                {% if notice.is_assignment == 1 %}
                                    {% if notice.is_done == 1 %}
                                        Y
                                        {% else %}
                                            N
                                        {% endif %}
                                {% endif %}
                                </td>
                                <td>
                                    {% if notice.is_assignment == 1 %}
                                        {{ notice.point }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if notice.is_assignment == 1 %}
                                    {% for assignment in request.user.student.assignment_set.all  %}
                                        {% if assignment.notice == notice %}
                                            {% if assignment.comment is not None %}
                                                <a><span class="glyphicon glyphicon-comment" title="{{ assignment.comment }}"></span></a>
                                                {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>



            </div>

            <div class="tab-pane fade" id="second">
                <br>
                <!-- 두번째 탭 -->
                <div class="tab-pane fade active in" id="second">
                    <table class="table">
                        <!--질문게시판~-->
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>게시날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for question in question_list %}
                            <tr>
                                <td>{{ forloop.revcounter }}</td>
                                <td><a href="{% url 'questionView' question_id=question.id %}">{{ question.title }}</a></td>
                                <td>{{ question.person.get_full_name }}</td>
                                <td>{{ question.content_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <div style="float:right">
                        <a href="{% url 'questionWrite' lecture_id=lecture.id %}"><button class="btn btn-primary">작성</button></a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="third">
                <br>
                <!-- 세번째 탭 -->
                <div class="tab-pane fade active in" id="third">
                    <div id = "message_div">

                        {% for team in team_list %}
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="panel panel-default" style="background-color:rgba(255,255,255,0.5); margin:5px">

                                <div class="panel-heading">
                                    {{ team.name }}
                                    <button class="btn btn-default btn-xs pull-right" onclick="enterTeam('{% url 'team' lecture_or_team_id=team.id %}','{{ team.name }}');">
                                        <span class="glyphicon glyphicon-log-in"></span>
                                    </button>
                                </div>
                                <div class="panel-body">
                                    {{ team.leader.base_user.get_full_name }}<br/>
                                    {% for member in team.members.all %}
                                        {{ member.base_user.get_full_name }}
                                        {% if member.base_user == request.user %}
                                            <button class="btn btn-default btn-xs pull-right" onclick="leaveTeam('{% url 'team' lecture_or_team_id=team.id %}','{{ team.name }}');">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>

                                        {% endif %}
                                        <br/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="panel panel-default" style="background-color:rgba(255,255,255,0.5); margin:5px">
                                <div class="panel-body">
                                    <button class="btn btn-default" style="width:100%; height:100%; border:0; outline: 0; background-color:rgba(255,255,255,0);" onclick="makeTeam()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>


<script>
// 관리자 페이지 Tab 바뀌는 JS
// navbar.html에
</script>

<script type="text/javascript">
$( document ).ready(function() {
    $('.nav-tabs li:eq({{ tab }}) a').tab('show')

})

// 팀합류 확인창
    function enterTeam(url, name){

        if(confirm(name+"에 들어가시겠습니까?")==true){
            $.ajax({
                type: "PUT",
                url: url,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                headers:{"X-CSRFToken": '{{ csrf_token }}'},
                success: function (data) {
                if (data.status === 200) {
                    alert("조에 들어갔습니다.")
                    location.href = data.redirect_url;

                } else if (data.status === 300) {
                    alert("이미 만들거나 들어간 팀이 있습니다.")
                }
                else {
                    alert('오류');
                }
            }
            });
        }
        else{
            return; // 취소
        }
    }

    function leaveTeam(url, name){

        if(confirm(name+"을 떠나시겠습니까?")==true){
            $.ajax({
                type: "DELETE",
                url: url,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                headers:{"X-CSRFToken": '{{ csrf_token }}'},
                success: function (data) {
                if (data.status === 200) {
                    alert("조를 떠났습니다..")
                    location.href = data.redirect_url;

                }
                else {
                    alert('오류');
                }
            }
            });
        }
        else{
            return; // 취소
        }
    }


    function makeTeam(){
        $.ajax({
            type: "POST",
            url: "{% url 'team' lecture_or_team_id=lecture.id %}",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            headers:{"X-CSRFToken": '{{ csrf_token }}'},
            success: function (data) {
                if (data.status === 200) {
                    alert("조가 만들어졌습니다.")
                    location.href = data.redirect_url;

                } else if (data.status === 300) {
                    alert("이미 만들거나 들어간 팀이 있습니다.")
                }
                else {
                    alert('오류');
                }
             }
        })
    }


</script>


            {% endblock %}


