{% extends "templates/navbar.html" %}

    {% block content %}

    <div class="container" >
        <form method="post">
            {% csrf_token %}
        <div  style="background-color: rgba(255,255,255,0.3); margin: 100px auto; width: 100%; padding:5%; border-radius:10px;">
            <h3>글 작성</h3><br />
            <label>제목</label>
            <input id="title" name="title" class="form-control"/></br>
            <label>내용</label>
            <textarea id= "content" name="content" rows="15" class="form-control"></textarea></br>
            <label>첨부파일</label>
            <input id="file" name="file" class="btn btn-default" style="width:100%" type="file" /></br>
            <label>제출기한</label>
            <div id="dateDiv" class="form-group">
                        </div>
            <input id="is_notice" name="is_notice" type="checkbox" value="1">공지</input></br>
            <input id="is_assignment" name="is_assignment" type="checkbox" value="1" onclick="createDateField('dateDiv')">과제</input></br>

           </br>
          <button class="btn btn-primary pull-right" type="submit" formaction={% url 'noticeWrite' lecture_id=lecture_id%}>작성</button>
          <button class="btn btn-default pull-right" style="margin-right:5px">취소</button>
         <br />
        </div>
            </form>

</div>

<script type="text/javascript">
    function createDateField(addDiv){
        var parentDiv = document.getElementById(addDiv);
        if(document.getElementById('is_assignment').checked){
            var dateInput = document.createElement('input');
            dateInput.setAttribute('id','limited_date');
            dateInput.setAttribute('name','limited_date');
            dateInput.setAttribute('class', "form-control");
            dateInput.type = "datetime-local";



            parentDiv.appendChild(dateInput);
        }
        else{
            parentDiv.removeChild(document.getElementById('limited_date'));
        }
    }

</script>
{% endblock %}
