{% extends "templates/navbar.html" %}

    {% block content %}

    <div class="container" style="background-color: rgba(255,255,255,0.3); margin: 100px auto; padding:5%; border-radius:10px;">

    <!-- 제목 내용 날짜 과제날짜 조회수 수정삭제버튼 -->
    <div style="text-align:center; margin:0 auto; width:100%;">
        <b>
            {{ notice.title }}
        </b>
    </div>
    <div style="text-align:right">
        <br />
        {{ notice.content_at }}
    </div>
    <div style="margin-top:50px">
        {{ notice.content }}
    </div>

        {% if notice.file is not None %}
            <a href="{{ notice.file }}" download="{{ notice.file }}"></a>
        {% endif %}

        {% if notice.is_assignment %}
            <br/>
            <label>제출기한</label>
            {{ notice.limited_date }}
        {% endif %}
    <div id="notice_footer" style="margin-top:50px">
        <a href="{% url 'lecture_detail' lecture_id=notice.lecture_id %}">< 목록으로</a>
        <a class="pull-right" type="submit" href="{% url 'noticeDelete' notice_id=notice.id %}">삭제</a>
        <a class="pull-right" style="margin-right:5px" href="{% url 'noticeModify' notice_id=notice.id %}">수정</a>


    </div>


    </div>
{% endblock %}
