{% extends "templates/navbar.html" %}
{% load staticfiles %}

    {% block content %}


    <div style="margin:0px auto; margin-top: 100px; width:90%; max-width: 1000px; ">
        <h4>학생리스트</h4>
        <h3>{{ lecture.name }}</h3>

    </div>
    <div class="container" style="background-color: rgba(255,255,255,0.6); margin: 0px auto; width:90%; max-width: 1000px; padding:5%; border-radius:10px;">
    <form action="POST" id="manage_student_form">
        <div class="table-responsive">

            <table id="studentTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>학번 <span class="glyphicon glyphicon-chevron-up" onclick="sortTD(0)"></span>
                            <span class="glyphicon glyphicon-chevron-down" onclick="reverseTD(0)"></span></th>
                        <th>이름 <span class="glyphicon glyphicon-chevron-up" onclick="sortTD(1)"></span>
                            <span class="glyphicon glyphicon-chevron-down" onclick="reverseTD(1)"></span></th>
                        <th>학년 <span class="glyphicon glyphicon-chevron-up" onclick="sortTD(2)"></span>
                            <span class="glyphicon glyphicon-chevron-down" onclick="reverseTD(2)"></span></th>
                        <th>학과 <span class="glyphicon glyphicon-chevron-up" onclick="sortTD(3)"></span>
                            <span class="glyphicon glyphicon-chevron-down" onclick="reverseTD(3)"></span></th>
                        <th>과제점수 <span class="glyphicon glyphicon-chevron-up" onclick="sortTD(4)"></span>
                            <span class="glyphicon glyphicon-chevron-down" onclick="reverseTD(4)"></span></th>
                        <th style="width:15%">중간점수</th>
                        <th style="width:15%">기말점수</th>
                        <th>TA</th>
                    </tr>
                </thead>
                <tbody id="t_body">
                 {% for student in student_list %}

                <tr>
                    <td>{{ student.base_user.username}}</td>
                    <td>{{ student.base_user.first_name }}{{ student.base_user.last_name }}</td>
                    <td>{{ student.grade}}</td>
                    <td>{{ student.base_user.department}}</td>

                    <td>{{ student.total_point }}</td><!-------과제 점수 오또케 가져오지..? ----->
                    <td>
                        <input type="text" class="form-control"  style="height:100%" value="{{ student.midscore}}"/>
                    </td>
                    <td>
                        <input type="text" class="form-control" style="height:100%" value="{{ student.finalscore}}"/>
                    </td>
                    <td>
                        <input type="radio" name="isTA" onclick="authorizeTA()" {% if lecture.ta == student %} checked {% endif %}/>
                    </td>
                </tr>
                 {% endfor %}
                </tbody>
            </table>

        </div>
        <div style="width:100%; margin:0 auto;">
            <ul class="pagination" >
                <li class="active"><a herf="#">1</a></li>
                <li><a herf="#">2</a></li>
                <li><a herf="#">3</a></li>
                <li><a herf="#">4</a></li>
                <li><a herf="#">5</a></li>
            </ul>
        </div>
        <div>
            <div class="input-group" style="width: 30%;">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">필터</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">학번</a></li>
                        <li><a href="#">이름</a></li>
                        <li><a href="#">학년</a></li>
                        <li><a href="#">학과</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search Bar">
                <span class="input-group-btn"><button class="btn btn-primary" type="button">검색</button></span>
            </div>
            <button type="button" class="btn btn-primary pull-right" style="margin-top:-35px" onclick="manage_student()">변경 내용 저장</button>
        </div>
    </form>
    </div>

        <script type="text/javascript" src="{% static '/js_main/sort.js' %}"></script>
        <script type="text/javascript">
            // TA 선택 확인창
            function authorizeTA(){
                if(confirm("OOO 학생을 TA로 임명하시겠습니까?")==true){
                    //확인
                }
                else{
                    return; // 취소
                }
            }
        </script>
        <script type="text/javascript">
            // Sort
            var myTable = document.getElementById( "studentTable" );
            var replace = replacement( myTable );
            function sortTD( index ){    replace.ascending( index );    }
            function reverseTD( index ){    replace.descending( index );    }
        </script>

        <script>
            // 검색 필터 반영하는 JS
            $(document).ready(function (e) {
                $('.search-panel .dropdown-menu').find('a').click(function (e) {
                    e.preventDefault();
                    var param = $(this).attr("href").replace("#", "");
                    var concept = $(this).text();
                    $('.search-panel span#search_concept').text(concept);
                    $('.input-group #search_param').val(param);
                });
            });
            function manage_student(){
                data = []
                var tb = $("#t_body>tr")
                tb.each(function(i,val){
                    tds = $(val).children()
                    console.log(tds)
                    new_data = {
                        'username': tds.eq(0).text(),
                        'midscore': tds.eq(5).find('input[type="text"]').val(),
                        'finscore': tds.eq(6).find('input[type="text"]').val(),
                        'ista': tds.eq(7).find('input[type="radio"]').is(':checked')
                    }
                    console.log(new_data)
                    data.push(new_data)
                });
                $.ajax({
                    type: "POST",
                    url: "{% url 'studentList' lecture_id=lecture.id%}",
                    data: {'post_data': JSON.stringify(data), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    headers:{"X-CSRFToken": '{{ csrf_token }}'},
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {
                        if (data.status === 200) {
                            alert("수정 완료")

                        }
                        else {
                            alert('오류');
                        }
                     }
                })
            }
        </script>

{% endblock %}
