{% extends "templates/navbar.html" %}

    {% block content %}

    <div style="margin:0px auto; margin-top: 100px; width:90%; max-width: 1000px; ">
        <h4>내 강의실</h4>

    </div>
    <form method='POST' id="mypage_form">
        {% csrf_token %}
    <div class="container" style="background-color:rgba(255,255,255,0.6); margin:0 auto; padding:5%; width: 90%; max-width: 1000px; border-radius:10px;">

    <div style="width:80%; margin:0 auto;">

        <div class="form-group">
            <label>ID</label>
            <input class="form-control" placeholder="{{ info.username }}" disabled/>
        </div>

        <div class="form-group">
            <label>패스워드</label>
            <input id="password" name="password" class="form-control" type="password" />

        </div>
        <div class="form-group">
            <label>패스워드 확인</label>
            <input id="password_check" name="password_check" class="form-control" type="password"/>
        </div>

        <div class="form-group">
            <label>직업</label>
            <select id="job" name="job" class="form-control" disabled>
                {% if info.job == "학생" %}
                    <option>학생</option>
                {% elif info.job == "교수"%}
                    <option>교수</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label>이름</label>
            <input class="form-control" placeholder="{{ info.name }}" disabled/>
        </div>

        <div class="form-group">
            <label>학과 및 학부</label>
            <select id="department" name="department" class="form-control">
                {% if info.department == "CS"%}
                    <option value="CS" selected="selected">컴퓨터공학과</option>
                    <option value="GL">글로컬IT학과</option>
                    <option value="SW">소프트웨어공학과</option>
                    <option value="JT">정보통신공학과</option>
                    <option value="IT">IT융합자율학부</option>
                    <option value="etc">기타</option>
                {% elif info.department == "GL"%}
                    <option value="CS">컴퓨터공학과</option>
                    <option value="GL" selected="selected">글로컬IT학과</option>
                    <option value="SW">소프트웨어공학과</option>
                    <option value="JT">정보통신공학과</option>
                    <option value="IT">IT융합자율학부</option>
                    <option value="etc">기타</option>
                {% elif info.department == "SW"%}
                    <option value="CS">컴퓨터공학과</option>
                    <option value="GL">글로컬IT학과</option>
                    <option value="SW" selected="selected">소프트웨어공학과</option>
                    <option value="JT">정보통신공학과</option>
                    <option value="IT">IT융합자율학부</option>
                    <option value="etc">기타</option>
                {% elif info.department == "JT"%}
                    <option value="CS">컴퓨터공학과</option>
                    <option value="GL">글로컬IT학과</option>
                    <option value="SW">소프트웨어공학과</option>
                    <option value="JT" selected="selected">정보통신공학과</option>
                    <option value="IT">IT융합자율학부</option>
                    <option value="etc">기타</option>
                {% elif info.department == "IT"%}
                    <option value="CS">컴퓨터공학과</option>
                    <option value="GL">글로컬IT학과</option>
                    <option value="SW">소프트웨어공학과</option>
                    <option value="JT">정보통신공학과</option>
                    <option value="IT" selected="selected">IT융합자율학부</option>
                    <option value="etc">기타</option>
                 {% elif info.department == "etc"%}
                    <option value="CS">컴퓨터공학과</option>
                    <option value="GL">글로컬IT학과</option>
                    <option value="SW">소프트웨어공학과</option>
                    <option value="JT">정보통신공학과</option>
                    <option value="IT">IT융합자율학부</option>
                    <option value="etc" selected="selected">기타</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label>학년</label>
            <select class="form-control" id="grade" name="grade" >
                {% if info.grade == 1%}
                    <option value=1 selected="selected">1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                {% elif info.grade == 2%}
                    <option value=1>1</option>
                    <option value=2 selected="selected">2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                {% elif info.grade == 3%}
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3 selected="selected">3</option>
                    <option value=4>4</option>
                 {% elif info.grade == 4%}
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4 selected="selected">4</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label>연락처</label>
            <input id="phone" name="phone" class="form-control"value="{{ info.phonenum }}"/>
        </div>
        <div class="form-group">
            <label>이메일</label>
            <input id="email" name="email" class="form-control"value="{{ info.email }}"/>
        </div>
        <br />

            <!--확인 및 취소-->
            <button type="button" class="btn btn-primary pull-right" onclick="updateinfo()">확인</button>
            <button type="submit" class="btn btn-secondary pull-right" style="margin-right:5px" formaction="/lecture/my_lecture_list" formmethod="get">취소</button>

       </div>
    </div>
    </form>
<script type="text/javascript">
    function updateinfo(){
        $.ajax({
            type: "POST",
            url: "{% url 'mypage' %}",
            data: {'post_data': $("#mypage_form").serialize() , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            headers:{"X-CSRFToken": '{{ csrf_token }}'},
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                if (data.status === 200) {
                    alert("정보가 수정되었습니다.")

                } else if (data.status === 202) {
                    alert("비밀번호가 수정되었습니다. 다시 로그인하세요.")
                    location.href = data.redirect_url;
                }
                else {
                    alert('오류');
                }
             }
        })
    }


</script>
{% endblock %}



